---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import ProFeatures from '../components/ProFeatures.astro';
import WhyInfinity from '../components/WhyInfinity.astro';
import Footer from '../components/Footer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Infinity - Build Better Habits">
	<Navigation />
	<main>
		<Hero />
		<Features />
		<ProFeatures />
		<WhyInfinity />
	</main>
	<Footer />
</Layout>

<style>
	main {
		width: 100%;
	}
</style>
